/* arquivo de css da pagina principal do projeto */

/* Imports */
@import url("reset.css");

/************
 *  Global  *
 ************/
body {
    background: #fff;
    color: #000;
    font-size: 85%; /* Base font size: 14px */
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.429;
    margin: 0;
    padding: 0;
    text-align: left;
}

ul {
	list-style: outside disc;
	margin-top: .5em;
}

.clear { clear: both; }
.clearL { clear: left; }
.clearR { clear: right; } 

/* end Global */

/************
 *  header  *
 ************/ 
#headerMenu {
    background: #F5F4EF;
	display: block;
	padding: 2em 2em 1em 2em;
}

/* H1 - Title */
#headerMenu h1 { font-size: 2.5em; line-height: .6; }

/* Nav */
#headerMenu nav {
	font-size: 1.2em;
	line-height: 30px;
	padding: 0;
	margin-top: 1.5em;
}
#headerMenu nav ul {
	list-style: none;
}
#headerMenu nav li {
	display: inline; 
	margin: 0;
}
#headerMenu nav a:link, #headerMenu nav a:visited {
	color: #000;
	display: inline-block;
	height: 30px;
	padding: 0.1em 1em;
	text-decoration: none;
}
#headerMenu nav a:hover, #headerMenu nav a:active,
#headerMenu nav .active a:link, #headerMenu nav .active a:visited {
	background: #0074C6;
	color: #fff;
	text-shadow: none !important;
	
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

/* End Header */

/*
 * style do conteudo
 */
.content {
	border: 1px solid black;
	display: block;
	width: 80%;
	margin: 0 auto;
}

/*
 * style do rodape
 */
footer {
	background: #F5F4EF;
	display: block;
	padding: 2em 2em 1em 2em;
}

footer .container {
	position: relative;
}

.menuRodape {  
	font-size: 1.2em;
	line-height: 30px;
	padding: 0;
	float: left;
	top: 12px;
	right: 0;
}

.menuRodape li {
	display: inline; 
	margin: 0;
}

.menuRodape li a {
  float: left;
  margin-left: 25px;
}

.menuRodape ul {
	list-style: none;
}

.secaoMenuEndereco {
	position: absolute;
	top: 12px;
	right: 0;
}