<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="/css/cadastraSerie.css" />
		
		<% include includesCSS %>

		<title><%= titulo %></title>
	</head>
	<body>
		<% include headerMenu %>
		
		<div id="content" class="content container" >

			<div class="row">
		
				<div class="col-md-2">
					<img id="poster" src="/img/series/gameofthrones-poster.jpg" width="300" height="400" alt="Game of Thrones">
				<div>

				<div id="conteudoSerie" class="col-md-4">
					<h2>Título da Séris ano</h2>

					aba sdafsdaf asdfds afdsafdasfsdafafd
					osdfapjfoaisd fdsoijfosdajfodsiafdasjfoijsdaofijdasofjsaodfi
					dsafi ds fasd fsdiaofjdosajfosdj 
					dsfasdo fjsadfoj asdopijfsad
					aba sdafsdaf asdfds afdsafdasfsdafafd
					osdfapjfoaisd fdsoijfosdajfodsiafdasjfoijsdaofijdasofjsaodfi
					dsafi ds fasd fsdiaofjdosajfosdj 
					dsfasdo fjsadfoj asdopijfsad
					aba sdafsdaf asdfds afdsafdasfsdafafd
					osdfapjfoaisd fdsoijfosdajfodsiafdasjfoijsdaofijdasofjsaodfi
					dsafi ds fasd fsdiaofjdosajfosdj 
					dsfasdo fjsadfoj asdopijfsad
					aba sdafsdaf asdfds afdsafdasfsdafafd
					osdfapjfoaisd fdsoijfosdajfodsiafdasjfoijsdaofijdasofjsaodfi
					dsafi ds fasd fsdiaofjdosajfosdj 
					dsfasdo fjsadfoj asdopijfsad
					aba sdafsdaf asdfds afdsafdasfsdafafd
					osdfapjfoaisd fdsoijfosdajfodsiafdasjfoijsdaofijdasofjsaodfi
					dsafi ds fasd fsdiaofjdosajfosdj 
					dsfasdo fjsadfoj asdopijfsad
					aba sdafsdaf asdfds afdsafdasfsdafafd
					osdfapjfoaisd fdsoijfosdajfodsiafdasjfoijsdaofijdasofjsaodfi
					dsafi ds fasd fsdiaofjdosajfosdj 
					dsfasdo fjsadfoj asdopijfsad
					aba sdafsdaf asdfds afdsafdasfsdafafd
					osdfapjfoaisd fdsoijfosdajfodsiafdasjfoijsdaofijdasofjsaodfi
					dsafi ds fasd fsdiaofjdosajfosdj 
					dsfasdo fjsadfoj asdopijfsad
					aba sdafsdaf asdfds afdsafdasfsdafafd
					osdfapjfoaisd fdsoijfosdajfodsiafdasjfoijsdaofijdasofjsaodfi
					dsafi ds fasd fsdiaofjdosajfosdj 
					dsfasdo fjsadfoj asdopijfsad
					aba sdafsdaf asdfds afdsafdasfsdafafd
					osdfapjfoaisd fdsoijfosdajfodsiafdasjfoijsdaofijdasofjsaodfi
					dsafi ds fasd fsdiaofjdosajfosdj 
					dsfasdo fjsadfoj asdopijfsad
					aba sdafsdaf asdfds afdsafdasfsdafafd
					osdfapjfoaisd fdsoijfosdajfodsiafdasjfoijsdaofijdasofjsaodfi
					dsafi ds fasd fsdiaofjdosajfosdj 
					dsfasdo fjsadfoj asdopijfsad
					aba sdafsdaf asdfds afdsafdasfsdafafd
					osdfapjfoaisd fdsoijfosdajfodsiafdasjfoijsdaofijdasofjsaodfi
					dsafi ds fasd fsdiaofjdosajfosdj 
					dsfasdo fjsadfoj asdopijfsad
					aba sdafsdaf asdfds afdsafdasfsdafafd
					osdfapjfoaisd fdsoijfosdajfodsiafdasjfoijsdaofijdasofjsaodfi
					dsafi ds fasd fsdiaofjdosajfosdj 
					dsfasdo fjsadfoj asdopijfsad
				</div>
			</div>
		</div>
		
		<% include footer %>
		<% include includesJS %>
		<script type="text/javascript" src="/js/cadastraSerie.js"></script>
	</body>
</html>