<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="/css/cadastraSerie.css" />
		
		<% include includesCSS %>

		<title><%= titulo %></title>
	</head>
	<body>
		<% include headerMenu %>
		
		<div id="content" class="content container" >

			<img id="poster" src="/img/series/gameofthrones-poster.jpg" width="300" height="400" alt="Game of Thrones">

			<h2>Título da Séris ano</h2>

			<aside style="align: rigth; display: inline;">
				<ul>
					<li>
						<a id="linkAdicionrJaVistos" href="#">Adicinar à Já Vistos</a>
					</li>
					<li>
						<a id="linkAdiconarDesejoVer" href="#">Adicionar à Desejo Ver</a>
					</li>
				</ul>
			</aside>
			aba sdafsdaf asdfds afdsafdasfsdafafd
			osdfapjfoaisd fdsoijfosdajfodsiafdasjfoijsdaofijdasofjsaodfi
			dsafi ds fasd fsdiaofjdosajfosdj 
			dsfasdo fjsadfoj asdopijfsad
			aba sdafsdaf asdfds afdsafdasfsdafafd
			osdfapjfoaisd fdsoijfosdajfodsiafdasjfoijsdaofijdasofjsaodfi
			dsafi ds fasd fsdiaofjdosajfosdj 
			dsfasdo fjsadfoj asdopijfsad
			aba sdafsdaf asdfds afdsafdasfsdafafd
			osdfapjfoaisd fdsoijfosdajfodsiafdasjfoijsdaofijdasofjsaodfi
			dsafi ds fasd fsdiaofjdosajfosdj 
			dsfasdo fjsadfoj asdopijfsad
			aba sdafsdaf asdfds afdsafdasfsdafafd
			osdfapjfoaisd fdsoijfosdajfodsiafdasjfoijsdaofijdasofjsaodfi
			dsafi ds fasd fsdiaofjdosajfosdj 
			dsfasdo fjsadfoj asdopijfsad
			aba sdafsdaf asdfds afdsafdasfsdafafd
			osdfapjfoaisd fdsoijfosdajfodsiafdasjfoijsdaofijdasofjsaodfi
			dsafi ds fasd fsdiaofjdosajfosdj 
			dsfasdo fjsadfoj asdopijfsad
			aba sdafsdaf asdfds afdsafdasfsdafafd
			osdfapjfoaisd fdsoijfosdajfodsiafdasjfoijsdaofijdasofjsaodfi
			dsafi ds fasd fsdiaofjdosajfosdj 
			dsfasdo fjsadfoj asdopijfsad
			aba sdafsdaf asdfds afdsafdasfsdafafd
			osdfapjfoaisd fdsoijfosdajfodsiafdasjfoijsdaofijdasofjsaodfi
			dsafi ds fasd fsdiaofjdosajfosdj 
			dsfasdo fjsadfoj asdopijfsad
			aba sdafsdaf asdfds afdsafdasfsdafafd
			osdfapjfoaisd fdsoijfosdajfodsiafdasjfoijsdaofijdasofjsaodfi
			dsafi ds fasd fsdiaofjdosajfosdj 
			dsfasdo fjsadfoj asdopijfsad
			aba sdafsdaf asdfds afdsafdasfsdafafd
			osdfapjfoaisd fdsoijfosdajfodsiafdasjfoijsdaofijdasofjsaodfi
			dsafi ds fasd fsdiaofjdosajfosdj 
			dsfasdo fjsadfoj asdopijfsad
			aba sdafsdaf asdfds afdsafdasfsdafafd
			osdfapjfoaisd fdsoijfosdajfodsiafdasjfoijsdaofijdasofjsaodfi
			dsafi ds fasd fsdiaofjdosajfosdj 
			dsfasdo fjsadfoj asdopijfsad
			aba sdafsdaf asdfds afdsafdasfsdafafd
			osdfapjfoaisd fdsoijfosdajfodsiafdasjfoijsdaofijdasofjsaodfi
			dsafi ds fasd fsdiaofjdosajfosdj 
			dsfasdo fjsadfoj asdopijfsad
			aba sdafsdaf asdfds afdsafdasfsdafafd
			osdfapjfoaisd fdsoijfosdajfodsiafdasjfoijsdaofijdasofjsaodfi
			dsafi ds fasd fsdiaofjdosajfosdj 
			dsfasdo fjsadfoj asdopijfsad
		</div>
		
		<% include footer %>
		<% include includesJS %>
		<script type="text/javascript" src="/js/cadastraSerie.js"></script>
	</body>
</html>