<footer id="footerMenu">
	<section id="sectionMenuEndereco">
		<nav>
			<ul class="menuRodape">
				<li><a link="#">Sobre</a></li>
				<li><a link="#">Notícias</a></li>
				<li><a link="#">Ajuda</a></li>
			</ul>
		</nav>
		
		<address class="endereco clearL">
			<span>@SeriadosLegal. Feito por dois estudantes babacas da FURB em Blumenau, Brasil.</span>
		</address>
	</section>
	
	<section id="sectionImage">
		<!--a href="http://twitter.com/minimalmonkey" class="icon-button twitter"><i class="icon-twitter"></i><span></span></a>
		<a href="http://facebook.com" class="icon-button facebook"><i class="icon-facebook"></i><span></span></a>
		<a href="http://plus.google.com" class="icon-button google-plus"><i class="icon-google-plus"></i><span></span></a-->
		<div id="socialMedia">
			<a href="http://twitter.com/minimalmonkey"><i class='icon-facebook'></i></a>
			<a href="http://facebook.com"><i class='icon-twitter'></i></a>
			<a href="http://plus.google.com"><i class='icon-googleplus'></i></a>
		</div>
		
		<img alt="HTML5" title="Compativel com HTML5" src="img/html5-64.png"></img>
	</section>
</footer>