<header id="headerMenu" class="clear">
	<h1>Projeto Final</h1>
	<nav>
		<ul>
			<li class="active clear"><a href="#">Home</a></li>
			<li><a href="#">Amigos</a></li>
			<li><a href="#">Series</a></li>
			<!--li><a href="#">Login</a></li-->
		</ul>
	</nav>
</header>