<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Projeto Final - Series</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li class="<%= homeSelected %>"><a href="/">Home</a></li>
				<li><a href="#">Amigos</a></li>
				

				<li class="dropdown <%= seriesSelected %>">
         			<a href="/series" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Series<span class="caret"></span></a>
         			<ul class="dropdown-menu">
         				<li><a class="active" href="/series">Todas</a></li>
            			<li><a href="/seriesJaVistas">Já vistas</a></li>
            			<li><a href="/seriesDesejoVer">Desejo ver</a></li>
         			</ul>
        		</li>
        		
			</ul>

			<div class="<%= procuraVisible %> navbar-form navbar-left" role="search" id="frmPesquisa">
        		<div class="form-group">
         			<input type="text" class="form-control" placeholder="Digite o nome da série" id="frmTextoPesquisa">
       		 	</div>
      		</div>

      		<% if (usuarioLogado == false) { %>
			<form action="/login" id="frmLogin" class="navbar-form navbar-right">
				<div class="form-group">
					<input type="text" placeholder="Usuário" class="form-control" id="frmLoginUsuario" />
				</div>
				<div class="form-group">
					<input type="password" placeholder="Senha" class="form-control" id="frmLoginSenha" />
				</div>
				<input type="submit" class="btn btn-success" id="frmLoginSubmit" value="Log in" />
			</form>
			<% } else { %>
			<form action="/logout" id="frmLogin" class="navbar-form navbar-right">
				<input type="submit" class="btn btn-default" id="frmLoginSubmit" value="Log out" />
			</form>
			<% } %>
		</div><!--/.nav-collapse -->
	</div>
</nav>

