<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<!--link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css' /-->
		<link rel="stylesheet" type="text/css" href="css/index.css" />
		<title><%= titulo %></title>
	</head>
	<body>
		<% include headerMenu %>

		<div class="content">
			Conteudo do site
		</div>
		
		<% include footer %>
	</body>
</html>