<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<!--link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css' /-->
		<% include includesCSS %>
		
		<title><%= titulo %></title>
	</head>
	<body>
		<% include headerMenu %>

		<div class="container">
			Conteudo do site
		</div>
		
		<% include footer %>
		<% include includesJS %>
	</body>
</html>