<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		
		<% include includesCSS %>

		<title><%= titulo %></title>
	</head>
	<body>
		<% include headerMenu %>

		<div class="container">
			<h1>Usuário Cadastrados</h1>

			<div class="list-group">
				<% usuarios.forEach(function(u) { %>
					<a href="/usuario/<%= u.id %>" class="list-group-item"><%= u.nome %> ( <%= u.login %> )</a>
				<% }); %>
			</div>
		</div>

		<% include footer %>
		<% include includesJS %>
	</body>
</html>