<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		
		<link rel="stylesheet" type="text/css" href="/css/listaSeries.css" />

		<% include includesCSS %>

		<title><%= titulo %></title>
	</head>
	<body>
		<% include headerMenu %>
		
		<img id="imgOpcoesSerie" src="/img/opcoesSerie.jpg" width="50" height="25" />

		<aside id="menuOpcoesSerie">
			<ul>
				<li>
					<a id="linkAdicionrJaVistos" href="#">Adicinar à Já Vistos</a>
				</li>
				<li>
					<a id="linkAdiconarDesejoVer" href="#">Adicionar à Desejo Ver</a>
				</li>
			</ul><i class="replace popup-arrow"></i>
		</aside>

		<div id="content" class="container">

			<img class="poster" data-serieid="1" src="/img/series/gameofthrones-poster.jpg" width="230" height="345" alt="Game of Thrones" itemprop="photo">

			<img class="poster" data-serieid="2" src="/img/series/gameofthrones-poster.jpg" width="230" height="345" alt="Game of Thrones" itemprop="photo">

			<img class="poster" data-serieid="3" src="/img/series/gameofthrones-poster.jpg" width="230" height="345" alt="Game of Thrones" itemprop="photo">
			
			<div>
				<a href="#" id="carrega-series">Mais!</a>
			</div>
		</div>
		
		<% include footer %>
		<% include includesJS %>
		<script type="text/javascript" src="/js/listaSeries.js"></script>
	</body>
</html>