<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">

		<% include includesCSS %>
		
		<link rel="stylesheet" type="text/css" href="/css/listaSeries.css" />

		<title><%= titulo %></title>
	</head>
	<body>
		<% include headerMenu %>
		
		<div id="content" class="container">
			<h1><%= titulo %></h1>
		</div>

		
		<a href="#" id="carrega-series">
			Cerregar Mais Séries!
		</a>
		

		<% include footer %>
		<% include includesJS %>
		<script type="text/javascript" src="/js/listaSeries.js"></script>
	</body>
</html>