<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		
		<link rel="stylesheet" type="text/css" href="/css/listaSeries.css" />

		<% include includesCSS %>

		<title><%= titulo %></title>
	</head>
	<body>
		<% include headerMenu %>
		
		<img id="imgOpcoesSerie" src="/img/opcoesSerie.jpg" width="50" height="25" />

		<aside id="menuOpcoesSerie">
			<ul>
				<li>
					<a id="linkAdicionarJaVistos" href="#">Adicinar à Já Vistos</a>
				</li>
				<li>
					<a id="linkAdiconarDesejoVer" href="#">Adicionar à Desejo Ver</a>
				</li>
			</ul><i class="replace popup-arrow"></i>
		</aside>

		<div id="content" class="container">
		</div>

		
		<a href="#" id="carrega-series">Cerregar Mais Séries!</a>
		

		<% include footer %>
		<% include includesJS %>
		<script type="text/javascript" src="/js/listaSeries.js"></script>
	</body>
</html>