<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<% include includesCSS %>
		
		<title><%= titulo %></title>
	</head>
	<body>
		<% include headerMenu %>

		<div class="container">
			<div class="jumbotron">
				<h1>Série Não Encontrada!</h1>
				<p>O seriado que você está tentando acessar não existe ou não encontrado.</p>
			</div>
		</div>
		
		<% include footer %>
		<% include includesJS %>
	</body>
</html>