/* Imports */
@import url("reset.css");

#poster {
	border-radius: 10px;
}

#poster {
	float: left;
}

#conteudoSerie {
	padding: 10;
}

ul {
	list-style: outside disc;
	margin-top: .5em;
}

/* arquivo de css da pagina principal do projeto */

/************
 *  Global  *
 ************/
body {
    background: #646464;
    color: #000;
    font-size: 85%; /* Base font size: 14px */
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.429;
    margin: 0;
    padding: 0;
    text-align: left;
}

/*************
 *  content  *
 *************/
.content {
	margin: 0px 50px 0px 50px;
	padding: 10px;
}

.content img {
	padding: 3px;
}


/* end content */