/* Imports */
/*@import url("reset.css");*/

.conteudoObjetivo {
	margin: 10px;
	color: white;
	font-size: 12pt;
}

.destaqueUltimasSeries {
	margin: 10px;
	color: white;
	font-size: 20pt;
}

.poster {
	border-radius: 10px;
	cursor: pointer;
	margin: 5px;
}