/* Imports */
/*@import url("reset.css");*/

.poster {
	border-radius: 10px;
	cursor: pointer;
	margin: 5px;
}

ul {
	list-style: outside disc;
	margin-top: .5em;
}

#imgOpcoesSerie {
	border-radius: 15px;
	position: absolute;
	cursor: pointer;
	display: none;
}

#menuOpcoesSerie { 
	position: absolute;
	display: none;
	background-color: #FFF;
	padding: 5px;
}

#menuOpcoesSerie li {
	margin: 0 5 0 0;
}

#menuOpcoesSerie li a {
	float: left;
}

#menuOpcoesSerie ul {
	list-style: none;
}

/*************
 *  content  *
 *************/
.content {
	margin: 0px 50px 0px 50px;
}


/* end content */