body {
	padding-top: 90px; /* pra respeitar a barra de navegação */
	/*margin-bottom: 60px; /* pra respeitar a barra do footer */

	background: #646464;
}

/*.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 40px;
	background-color: #f8f8f8;
}*/